<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <appSettings>
    <add key="TwitchApiUrl" value="https://api.twitch.tv/"/>
    <add key="StreamUtilityPath" value="ThirdParty/StreamUtility/Streamlink.exe"/>
    <add key="StreamUtilityRcPath" value="ThirdParty/vattenmediarc"/>
    <add key="TwitchEnabled" value="true"/>
    <add key="YoutubeEnabled" value="true"/>
  </appSettings>
</configuration>