<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TwitchApiUrl" value="https://api.twitch.tv/"/>
    <add key="TwitchAuthApiUrl" value="https://id.twitch.tv/"/>
    <add key="StreamUtilityPath" value="C:\Program Files (x86)\Streamlink\bin\streamlink.exe"/>
    <add key="StreamUtilityRcPath" value="Config\vattenmediarc"/>
    <add key="TwitchEnabled" value="true"/>
    <add key="YoutubeEnabled" value="true"/>

    <!-- Optional arguments to streamlink process can be added here. Comma separated i.e. "arg1,arg2,arg3" -->
    <add key="StreamStarterOptionalCommandLineArguments" value=""/>
  </appSettings>
</configuration>