<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="VattenMedia.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <appSettings>
    <add key="TwitchApiUrl" value="https://api.twitch.tv/"/>
    <add key="StreamUtilityPath" value="C:\Program Files (x86)\Streamlink\bin\streamlink.exe"/>
    <add key="StreamUtilityRcPath" value="Config\vattenmediarc"/>
    <add key="TwitchEnabled" value="true"/>
    <add key="YoutubeEnabled" value="true"/>
  </appSettings>
  <userSettings>
    <VattenMedia.Properties.Settings>
      <setting name="Height" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>750</value>
      </setting>
      <setting name="Top" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Left" serializeAs="String">
        <value>0</value>
      </setting>
    </VattenMedia.Properties.Settings>
  </userSettings>
</configuration>